body{
  margin: 0 auto;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  max-width: 2000px;
  height: 100vh;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6vh;
  padding: 0 2rem;
}

.title{
  font-size: 1.5rem;
  font-weight: bolder;
}

.dark-mode{
  border: none;
  background: white;
  font-size: 1rem;
}

.dark-mode:hover{
  cursor: pointer;
}

.input-dropdown{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  background: rgba(236, 236, 236, .5);
}

.search-input-container{
  display: flex;
  justify-content: center;
}

.input-country{
  padding: .7rem;
  width: 300px;
  border: none;
}

.input-country:focus{
  outline: none;
}

.search-img{
  padding: .7rem;
  font-size: .9rem;
  background: white;
  border: none;
}

/* dropdown option */
.dropdown{
  width: 150px;
  cursor: pointer;
  border: 1px solid black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding: .5rem;
}

.button-option{
  position: absolute;
  top: 101%;
  left: -.5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.choice{
  border: none;
  padding: 1rem;
}

.choice:hover{
  background:rgb(212, 210, 210);
  cursor: pointer;
}

.countries-divs-container{
  margin-top: 2.5rem;
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  background :rgba(236, 236, 236, .5);
  margin-top: 0;
}

.country-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: .5rem;
  padding-left: 1rem;
  background: white;
  height: 100%;
}

.single-container{
  overflow: hidden;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.stats{
  font-size: .9rem;
}

.flag-img{
  width: 100%;
  height: 100%;
  height: 50%;
}

.country-title{
  font-weight: bold;
  width: 100%;
  line-height: 2rem;
}

.refresh{
  background: black;
  color: white;
}

.refresh:hover{
  cursor: pointer;
}


.dark-theme{
  background: rgba(0, 0, 0, 0.7);
  color: white;
}

.gray{
  background: rgb(85, 83, 83);
  color: white;
}

.black{
  background: black;
  color: white;
}

.hide{
  display: none;
}
